#gameContainer {
	width:800px;
	height:800px;
	overflow:hidden; 
	position:absolute;  
}
.touch #gameContainer {
	overflow:scroll; 
	
}

#stage {
	position:absolute;
	background-color:#0000FF;
	background:url(../graphic/game/bg.jpg);
	background-repeat:repeat;
	width:1500px;
	height:1500px;
	cursor:move; 
}
#stage div {
	position:absolute;
	cursor:pointer; 
	
}
.impact {
	position:relative;
}
