#gameContainer {
	width:500px;
	height:500px;
	overflow:scroll; 
	position:absolute;  
}
#test {
    background:#FF0000;
    width:1000px; 
    height:1000px;  
    
    
    
}
#stage {
	position:absolute;
	background-color:#0000FF;
	background:url(../graphic/game/bg.jpg);
	background-repeat:repeat;
	width:3000px;
	height:3000px;
}
#stage div {
	position:absolute;
}
.impact {
	position:relative;
}
