@import url('http://fonts.googleapis.com/css?family=Pathway+Gothic+One');

@keyframes wipeDown
{
from {
	opacity: 0;
}
to {
	opacity: 1;
}
}
@-webkit-keyframes
wipeDown/* Safari and Chrome */ {from {
	opacity: 0;
}
to {
	opacity: 1;
}
}
@-webkit-keyframes
blink/* Safari and Chrome */ {from {
	color: white;
}
to {
	color: red;
}
}

body {
	width: 800px;
	background: url('../graphic/ui/bg1.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	margin: 0px auto 0px auto;
	font-family: 'Pathway Gothic One', sans-serif;
	background-color: #000;
}
.bg2 {
	background: url('../graphic/ui/bg2.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #000; 
	
	
}

#reglement a:link,  #reglement a:visited, #reglement a:hover {
	color:white; 
	text-decoration:underline; 
	position:absolute;  
	top:770px; 
	left:30px; 
	
	
}

#stage {

	Xdisplay: none;
}

.blink {
	color: white;
	-webkit-animation: blink .5s linear 0s 3 alternate;
}
.popup {
	animation: wipeDown 0.5s;
	-webkit-animation: wipeDown 0.5s;
	left: 0;
	right: 0;
	position: absolute;
	margin: 0px auto 0px auto;
	padding: 50px;
	height: 250px;
	text-align: center;
}
.info {
	Xbox-sizing: border-box;
	margin-top: 145px;
	padding: 50px 50px 0 50px;
	width: 260px;
	height: 407px;
	overflow: hidden;
	background: url('../graphic/ui/bginfo.jpg');
	color: white;
}
.info p {
}

.form {
	width: 510px;
	height: 457px;
	background: white;
	padding: 40px 60px 0 50px;
	text-align: left;
}
.form b {
	clear: both;
	color:black; 
	display: block;
	margin: 30px 0 10px 0;
}
.form p {
	color: #666;
}
.form input {

}

.info .highlight {
	text-transform: uppercase;
	font-size: 32px;
	margin: 10px 0px 10px 0px;
}

.popup h1 {
	color: white;
	font-size: 50px;
	font-weight: 200;
	line-height: 1.1em;
	text-transform: uppercase;
	margin: 115px 0px 15px 0px;
	padding: 0;
	text-shadow: 3px 5px 5px #000;
}

.popup p {
	margin: 0;
	padding: 0;
	font-size: 24px;
}
.popup .button {
	background: url('../graphic/ui/btn_bg.png');
	margin-top: 10px;
	display: inline-block;
	width: 192px;
	height: 55px;
	font-size: 26px;
	line-height: 55px;
	text-align: center;
	text-transform: uppercase;
}

.button {
	color: black;
	cursor: pointer;
}
.button:hover {
	color: white;
	cursor: pointer;
}
.form {
	margin-top: 100px;
	color: #666666;
	line-height: 1.4em;
	font-size: 18px; 
}
.form .column {
	display: inline-block;
	width: 240px;
	margin: 0 15px 0 0;
}
.form .button {
	position: absolute;
	right: 60px;
	bottom: 50px;
}
#leftColumn {
	float: left;
}
#diamond {
	margin: 10px 0px 10px 0px;
}
#howToImg {
	margin: -5px 0 5px 0;
}
#callToAction {
	margin: 0px 0px 20px 0px;
}
#illustration {
	position:absolute;
	top:-72px;
	left:0;  
	
	
}

input {
	width: 100%;
}
input[type="radio"] {
	width: auto;
}
input[type="checkbox"] {
	width: auto;
}

