@keyframes wipeDown
{
from {
    top: -500px;
}
to {
    top: 100px;
}
}
@-webkit-keyframes
wipeDown/* Safari and Chrome */ {from {
    top: -500px;
}
to {
    top: 100px;
}
}
@-webkit-keyframes
blink/* Safari and Chrome */ {from {
    color: white;
}
to {
    color: red;
}
}

.blink {
    color: white;
    -webkit-animation: blink .5s linear 0s 3 alternate;
}
.popup {
    -webkit-animation: wipeDown .5s;
    animation: wipeDown .5s;
    position: relative;
    top: 100px;
    margin: 0px auto 0px auto;
    padding: 50px;
    width: 400px;
    height: 250px;
    background: red;
    text-align: center;
}
.popup .button {

    position: absolute;
    background: yellow;
    right: 50px;
    bottom: 50px;
}
.popup .button {

    position: absolute;
    bottom: 50px;
}

.button {
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
    cursor: pointer;
    background: yellow;
    padding: 10px;
}
.button:hover {
    background: blue
}

input {width 100%;
    display: block;
    width: 300px;
    margin: 10px;
}

